<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load socialaccount %}

<h1>Login using google</h1>
<form action="/admin_login" method="post">
     {% csrf_token %}
  <label>username</label><br>
  <input type="text"  name="username" value=""><br>
    <label>username</label><br>
    <input type="text"  name="password" value=""><br>

  <input type="submit" value="Submit">
</form>
{% if user.is_authenticated %}
<!--<p>Welcome {{ user.email}} !!!</p>-->
<form action="/conformemail" method="post">
     {% csrf_token %}
  <label>conform ur email</label><br>
  <input type="text"  name="username" value="{{ user.email}}"><br>

  <input type="submit" value="Submit">
</form>
<!--<p><a href="{% url 'account_logout' %}">Log out</a>-->
<p><a href="{% provider_login_url 'google' %}">Log out</a>
{% else %}
<p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
{% endif %}
</body>
</html>